<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studenttomsk.upYourParty">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@drawable/icon_application"
        android:label="@string/app_name"
        android:name="com.studenttomsk.upYourParty.ThisApplication"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="@string/fb_login_protocol_scheme" />
        </intent-filter>
        </activity>

        <activity android:name=".Views.ForgPass.FogPassActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/MyMaterialTheme">

        </activity>
        <activity android:name=".Views.Login.LoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/MyMaterialTheme"
            />
        <activity android:name=".Views.Register.RegisterActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/MyMaterialTheme"
            android:noHistory="true"
            />
        <activity android:name=".Views.Main.MainActivity"
            android:theme="@style/MyMaterialTheme"

            />
        <activity android:name=".Views.Splash.SplashActivity"
            android:theme="@style/AppTheme.SplashActivityTheme"
            android:noHistory="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>